<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.insu.onehand.product.mapper.ProductMapper">

	<insert id="insertProduct" parameterType="com.insu.onehand.product.vo.Product">
		INSERT INTO PRODUCT(PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, PRICE, MEMBER_ID, CATEGORY_NO, AREA_ID)
		VALUES(SEQ_PRODUCT.NEXTVAL, #{productName}, #{productContent}, #{price}, #{memberId}, #{categoryNo}, #{areaId})
	</insert>
	
	<insert id="insertProductAtta" parameterType="com.insu.onehand.product.vo.ProductAtta">
		INSERT INTO PRODUCT_ATTA(ATTA_NO, PRODUCT_NO, CHANGE_NAME, FILE_LEVEL)
		VALUES(SEQ_PRODUCT_ATTA.NEXTVAL, SEQ_PRODUCT.CURRVAL, #{changeName}, #{fileLevel})
	</insert>
	
	<select id="selectListCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM PRODUCT
	</select>
	
	<select id="selectList" parameterType="com.insu.onehand.common.vo.PageInfo" resultType="com.insu.onehand.product.vo.Product">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
			  FROM (SELECT PRODUCT_NO, PRODUCT_NAME, PRICE, CREATE_DATE, COUNT, CHANGE_NAME
					FROM PRODUCT P
					JOIN PRODUCT_ATTA PA USING (PRODUCT_NO)
					WHERE FILE_LEVEL = 0
					<if test="categoryNo != 0">
						AND CATEGORY_NO = #{categoryNo}
					</if>
					<if test="areaId != 0">
						AND AREA_ID = #{areaId}
					</if>
					<if test="keyword != 'none'">
						AND PRODUCT_NAME LIKE '%' || #{keyword} || '%'
					</if>
					<choose>
						<when test="sortOption == 'latest'">
							ORDER BY CREATE_DATE DESC
						</when>
						<when test="sortOption == 'popular'">
							ORDER BY COUNT DESC
						</when>
						<when test="sortOption == 'highPrice'">
							ORDER BY PRICE DESC
						</when>
						<when test="sortOption == 'lowPrice'">
							ORDER BY PRICE
						</when>
					</choose>)A
				)
			WHERE RNUM BETWEEN #{pi.startRow} AND #{pi.endRow}
	</select>
	
	<select id="selectProduct" parameterType="java.lang.Integer" resultType="com.insu.onehand.product.vo.Product">
		SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, PRICE, CREATE_DATE, COUNT, MEMBER_ID, CATEGORY_NAME, AREA_NAME
		FROM PRODUCT
		JOIN CATEGORY USING (CATEGORY_NO)
		JOIN AREA USING (AREA_ID)
		WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<select id="selectAtta" parameterType="java.lang.Integer" resultType="com.insu.onehand.product.vo.ProductAtta">
		SELECT CHANGE_NAME, FILE_LEVEL
		FROM PRODUCT_ATTA
		WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<update id="updateCount" parameterType="java.lang.Integer">
		UPDATE PRODUCT
		SET COUNT = COUNT + 1
		WHERE PRODUCT_NO = #{productNo}
	</update>

</mapper>
