.product{
    width: 250px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid lightgray;
}
.product>div{
    margin-bottom: 10px;
}
.productPic img{
    width: 100%;
    height: 200px;
}
.productName{
    padding-left: 10px;
    padding-right: 10px;
}
.productInfo{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}
#productList{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.nonList{
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 300px;
}
.product:hover{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}
#area1{
    width: 100%;
    margin-bottom: 100px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
#search{
    display: flex;
    justify-content: center;
}
#categoryArea{
    display: flex;
    justify-content: end;
}
#insertBtn>button{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}
#categoryArea select{
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 10px;
}
#area1>div{
    width: 400px;
}
#search button{
    width: 70px;
    border: none;
    height: 30px;
    background-color: orange;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
#search input{
    width: 300px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
#pagingBar{
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pagingBar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#pagingBar li{
    /* display: inline-block; */
    margin: 10px;
    font-size: 20px;
}
#pagingBar a{
    text-decoration: none;
    color: black;
}
#pagingBar a:hover{
    cursor: pointer;
    color: orange;
}
